.container-order-details {
    display: flex;
    justify-content: center;
    border: 1px solid #EAF1EF;
    width: 844px;
    margin: auto;
    flex-wrap: wrap;
    height: 476px;
    box-shadow: 1px 7px 14px -6px rgb(0 0 0 / 44%);
}

td {
    height: 33px;
}

.total-order {
    margin-left: auto;
    margin-right: 35px;
    background-color: #C84168;
    width: 235px;
    height: 52px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    border-radius: 5px;
}

.order-detail {
    background-color: #EAF1EF;
    text-align: center;
    height: 39px;
}

