.container-products{
display: flex;
flex-wrap: wrap;
text-align-last: center;
margin-top: 38px;
}

.products {
    margin: 10px;
    margin-bottom: 30px;
    margin-left: 74px;
    margin-right: 41px;
    border: 1px solid #CCD7D4;
     box-shadow: 1px 7px 14px -6px rgba(0,0,0,0.44);
}

input {
    width: 28px;
    padding: 5px;
}

.add-buttons {
    display: flex;
    justify-content: center;
    width: 190px;
    cursor: pointer;
}

.quantity-buttons {
    margin-top: 26px;
    font-weight: bold;
}

.quantity-container {
    height: 78px;
    background-color: lightgray;
}

.rm {
    border: none;
    width: 26px;
    height: 30px;
    border-radius: 0px 8px 8px 0px;
    font-size: 24px;
    background-color: #2E294E;
    color: white;
    cursor: pointer;
}

.add {
    border: none;
    width: 26px;
    border-radius: 8px 0px 0px 8px;
    font-size: 20px;
    background-color: #2E294E;
    color: white;
    cursor: pointer;
}

.input-quantity {
    border: none;
}

.product-name {
    font-weight: bold;
    font-family: Roboto, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');